$text-color: #FFF;
$font-size: 14px;
$font: normal $font-size/1.5 "Open Sans", Arial, sans-serif;

@mixin header {
	
	.header {
		background: #207ce5;
		border-top: 15px solid #000;
		height: 95px;
		margin-bottom: 40px;
	}
	
	.v-label.v-widget.logo-caption {
		color: #FFF;
		font-size: 45px;
		line-height: 1;
		font-weight: bolder;
		-webkit-font-smoothing: antialiased;
		letter-spacing: -0.05em;
	}
	
	.logo {
		margin-top: 20px;
		margin-left: 30px;
	}

}